.top {
	border: 1px solid red;
	height: 20px;
}
.bottom {
	border: 1px solid blue;
	height: 20px;
}

@media(max-width: 992px) {
	.bottom {
		border: 1px solid green;
	}
}

@media(max-width: 768px) {
	.top {
		border: 1px solid green;
	}
}
